@import "fonts.css"
@import "modal.styl"
@import "header.styl"

body
	margin 0
	padding 0
	font-family Circe
	font-size 17px
	
ul,li,input,select,a,table
	margin 0
	padding 0
	border 0

li 
	list-style none;
	
a 
	text-decoration none
	color black
	
.container
	margin 0 auto
	max-width 1325px
	background-color #f3f3f3
	padding-bottom 40px
	

	
/////////////////////////////
//          main           //
/////////////////////////////

.main
	&__main-title
		text-decoration underline
		font-family Circe-Bold
		width 260px
		margin 35px auto
		
	&__main-wrapper
		margin 0 auto
	&__link
		display block
		font-size 13px
		color #0541a5
		padding-top 14px
	&__picture
		background url("../img/0055.jpg") no-repeat
		background-size cover
		&_size-m
			width 520px
			height 400px
		&_size-s
			width 520px
			height 350px
		

.main-wrapper
	background-color white
	width 1200px
	padding-bottom 40px
	
	
.main-block
	padding-top 50px
	margin 0 35px
	box-sizing border-box
	&::after
		clear both
		content ""
		display block
	&:first-child
		padding-top 30px
	&__left-side
		display inline-block
		width 48%
		box-sizing border-box
	&__right-side
		display inline-block
		width 48%
		float right
		padding-top 50px
	&__title
		font-family Circe-Bold
		margin-bottom 20px
	&__icons
		&_margin-size-s
			margin 20px 0
		&_margin-size-m
			margin 35px 0
		&_no-margin-bottom
			margin-bottom 0

.slider
	&__full-photo
		width 520px
		height 340px
		background-image url("../img/0055.jpg")
	&__mini-photoes
		width 520px
		height 65px
		margin-top 5px
	&__mini-photo
		display inline-block
		width 100px
		height 100%
		margin-right 5px
		background url("../img/0055.jpg")
		background-size cover
		cursor pointer
		&:last-child
			margin-right 0

.table
	background-color #f0f0f0
	padding 10px 10px 20px
	font-size 14px
	width 100%
	border 0
	border-collapse collapse
	&__row
		height 35px
		&:nth-child(2n)
			background-color white
			
.table__row:not(:first-child) td:not(:first-child)
	font-weight bold
		


